* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

.navgation {
  display: flex;
  justify-content: space-around;
  width: 57vw;
  height: 6vw;
  line-height: 6vw;
  padding-bottom: 1vw;
  box-sizing: border-box;
  margin-left: 10vw;
}

.navgation .active {
  border-color: transparent;
}

.navgation div {
  border-bottom: 0.5vw solid transparent;
  font-size: 1.5vw;
}

.navgation div:hover {
  border-bottom: 0.5vw solid #00ccff;
  transition: 0.3s all;
}

main {
  width: 78.72vw;
  margin: 0 auto;
  /* 瀑布流插件 */
}

main section {
  width: 78.72vw;
  height: 23.31vw;
  display: flex;
}

main section .right_img {
  width: 28.24vw;
  height: 21.81vw;
  margin-left: 1.8vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

main section .right_img li {
  height: 9.8vw;
  position: relative;
  overflow: hidden;
}

main section .right_img li:hover .mask {
  top: 0;
  cursor: pointer;
}

main section .right_img img {
  width: 13.24vw;
  height: 8.09vw;
}

main section .right_img p {
  font-size: 0.1vw;
  position: absolute;
  z-index: 2;
  height: 2vw;
  width: 100%;
  background: white;
}

main section .right_img .mask {
  position: absolute;
  width: 13.24vw;
  height: 8.09vw;
  top: 8.09vw;
  left: 0vw;
  background-color: rgba(44, 13, 21, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

main section .right_img .mask img {
  width: 6vw;
  height: 6vw;
}

main .vip {
  width: 78.72vw;
  height: 14.63vw;
  margin-top: 0.6vw;
  position: relative;
}

main .vip .title {
  width: 10.15vw;
  height: 3.59vw;
  display: flex;
  align-items: center;
}

main .vip .title img {
  width: 3.75vw;
  height: 3.59vw;
}

main .vip .title p {
  font-size: 1.5vw;
}

main .vip .vip_img {
  width: 56vw;
  display: flex;
  justify-content: space-between;
  margin-top: 1.3vw;
}

main .vip .vip_img li {
  height: 9.8vw;
  position: relative;
  overflow: hidden;
}

main .vip .vip_img li:hover .mask {
  top: 0;
  cursor: pointer;
}

main .vip .vip_img img {
  width: 13.29vw;
  height: 8.09vw;
}

main .vip .vip_img p {
  font-size: 0.1vw;
  position: absolute;
  z-index: 2;
  height: 2vw;
  width: 100%;
  background: white;
}

main .vip .vip_img .mask {
  position: absolute;
  width: 13.24vw;
  height: 8.09vw;
  top: 8.09vw;
  left: 0vw;
  background-color: rgba(44, 13, 21, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

main .vip .vip_img .mask img {
  width: 6vw;
  height: 6vw;
}

main .vip .right_pic {
  position: absolute;
  top: 5vw;
  right: 2vw;
  width: 20.2vw;
  height: 14.63vw;
  margin-top: -4vw;
}

main .banner {
  width: 76.72vw;
  height: 13.99vw;
  margin-top: 2.89vw;
}

main .banner img {
  width: 76.72vw;
  height: 13.99vw;
}

main .dm_title {
  width: 78.72vw;
  height: 2.89vw;
  display: flex;
  margin-top: 2vw;
}

main .dm_title .dm_left {
  width: 5.57vw;
  height: 2.89vw;
  display: flex;
  align-items: center;
}

main .dm_title .dm_left img {
  width: 2.57vw;
  height: 2.89vw;
}

main .dm_title .dm_left p {
  font-size: 1.5vw;
}

main .dm_title .dm_right {
  width: 70.74vw;
  height: 2.89vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .dm_title .dm_right p {
  font-size: 1.3vw;
}

main .dm_title .dm_right .hot {
  margin-left: 57vw;
}

main .dm_title .dm_right .more {
  width: 3.75vw;
  height: 1.55vw;
  border: 0.1vw solid #fd00bf;
  text-align: center;
  line-height: 1.55vw;
  border-radius: 0.3vw;
  font-size: 0.2vw;
}

main .botom {
  width: 75.83vw;
  height: 21.65vw;
  display: flex;
  align-items: center;
}

main .botom .dm_pic {
  width: 58vw;
  display: flex;
  justify-content: space-between;
}

main .botom .dm_pic img {
  width: 14.09vw;
  height: 18.6vw;
}

main .botom .dm_pic p {
  font-size: 0.2vw;
  text-align: center;
}

main .botom .hot_dm {
  width: 16.43vw;
  height: 19.83vw;
  margin-left: 0.8vw;
}

main .botom .hot_dm ul {
  display: flex;
}

main .botom .hot_dm ul li {
  margin: 0.5vw 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

main .botom .hot_dm ul li:hover .details {
  display: flex;
}

main .botom .hot_dm ul li:hover .rank_title {
  display: none;
}

main .botom .hot_dm ul li .number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.39vw;
  height: 1.29vw;
  background-color: #ff9900;
  border-radius: 0.3vw;
  color: #fff;
  font-size: 0.8vw;
}

main .botom .hot_dm ul li .rank_title {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .botom .hot_dm ul li .rank_title p {
  font-size: 0.8vw;
  padding-left: 1vw;
}

main .botom .hot_dm ul li .details {
  display: none;
  margin-left: 1vw;
}

main .botom .hot_dm ul li .details img {
  width: 6.54vw;
  height: 4.13vw;
  border-radius: 0.8vw;
}

main .botom .hot_dm ul li .details .dm_name {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 5vw;
}

main .botom .hot_dm ul li .details .dm_name p {
  width: 10vw;
  font-size: 0.8vw;
}

main .botom .hot_dm img {
  width: 17.63vw;
  height: 6.77vw;
}

main .yc_title {
  font-size: 1vw;
  margin-top: 3.11vw;
}

main .yc_title p {
  font-size: 1.5vw;
}

main .yc_pic {
  width: 78.44vw;
  height: 12.06vw;
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
}

main .yc_pic img {
  width: 14.36vw;
  height: 10.83vw;
}

main .yc_pic p {
  font-size: 0.1vw;
  text-align: center;
}

main .rb_dm {
  font-size: 0.1vw;
}

main .rb_dm .rb_dm_title {
  width: 78.19vw;
  height: 1.77vw;
  margin-top: 2vw;
}

main .rb_dm p {
  float: left;
  font-size: 1.5vw;
}

main .rb_dm .more1 {
  width: 3.75vw;
  height: 1.55vw;
  border: 0.1vw solid #fd00bf;
  text-align: center;
  line-height: 1.55vw;
  border-radius: 0.3vw;
  font-size: 0.2vw;
  margin-left: 74vw;
}

main .rb_dm_pic {
  width: 76.69vw;
  height: 45.23vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2vw;
}

main .rb_dm_pic img {
  width: 14.09vw;
  height: 18.97vw;
  border-radius: 0.5vw;
}

main .rb_dm_pic p {
  font-size: 0.1vw;
  text-align: center;
}

main .banner2 {
  width: 76.72vw;
  height: 13.99vw;
  margin-top: 2.89vw;
}

main .banner2 img {
  width: 76.72vw;
  height: 13.99vw;
}

main .banner3 {
  width: 76.72vw;
  height: 13.99vw;
  margin-top: 2.89vw;
}

main .banner3 img {
  width: 76.72vw;
  height: 13.99vw;
}

main #main {
  width: 90vw;
  height: 725vw;
  position: relative;
  margin: 2vw auto;
}

main #main div {
  position: absolute;
  transition: all 0.35s ease;
  background: white;
  overflow: hidden;
  border: 1px solid #ccc;
  box-shadow: 0px 5px 10px 0px #ddf9ff;
}

main #main div img {
  width: 180px;
  margin: 10px;
  height: 73%;
  overflow: hidden;
}

main #main p {
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  color: #BDBDBD;
  margin: 0;
  padding: 0;
}

h3 {
  padding-top: 3vw;
}

.bizhi-foot {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2vw;
}

.bizhi-foot ul {
  width: 23%;
}

.bizhi-foot ul li {
  float: left;
  width: 100%;
  padding: 0.5vw;
  border: 1px solid #ccc;
  box-sizing: border-box;
  box-shadow: 0 1px 8px 3px #abcdef;
  margin-bottom: 2vw;
}

.bizhi-foot ul li img {
  width: 100%;
}

.bizhi-foot ul li p {
  text-align: center;
  height: 2vw;
  line-height: 2vw;
}