.swiper {
  width: 48.18vw;
  height: 23.31vw;
  border-radius: 0.8vw;
}

.swiper-slide {
  position: relative;
}



.swiper-slide>img {
  width: 48.18vw;
  height: 23.31vw;
}

.swiper-slide>span {
  position: absolute;
  top: 305px;
  left: 578px;
  font-size: 18px;
  color: pink;
}

.swiper-pagination-bullet {
  width: 4vw;
  height: 3vw;
  border-radius: 0;
  background-color: red;
  border: 0.3vw solid pink;
}

.swiper-pagination-bullet:nth-child(1) {
  background: url(../images/dddd.jpg);
  background-size: cover;
}

.swiper-pagination-bullet:nth-child(2) {
  background: url(../images/aaaa.jpg);
  background-size: cover;
}

.swiper-pagination-bullet:nth-child(3) {
  background: url(../images/bbbb.jpg);
  background-size: cover;
}

.swiper-pagination-bullet:nth-child(4) {
  background: url(../images/b999a9014c086e06d143598602087bf40bd1cb10.jpg);
  background-size: cover;
}

.swiper-pagination-bullet:nth-child(5) {
  background: url(../images/eeee.jpg);
  background-size: cover;
}