.swiper {
  width: 48.18vw;
  height: 23.31vw;
  border-radius: 0.8vw;
}

.swiper-slide {
  position: relative;
}

.swiper-slide>span {
  position: absolute;
  top: 305px;
  left: 578px;
  font-size: 18px;
  color: pink;
}

.swiper-slide>img {
  width: 48.18vw;
  height: 23.31vw;
}

.swiper-pagination-bullet {
  width: 4vw;
  height: 3vw;
  border-radius: 0;
  background-color: red;
  border: 0.3vw solid pink;
}

.swiper-pagination-bullet:nth-child(1) {
  background: url(../images/guidaodong.jpg);
  background-size: cover;
}

.swiper-pagination-bullet:nth-child(2) {
  background: url(../images/printdong.jpg);
  background-size: cover;
}

.swiper-pagination-bullet:nth-child(3) {
  background: url(../images/v_08.jpg);
  background-size: cover;
}

.swiper-pagination-bullet:nth-child(4) {
  background: url(../images/freedong.jpg);
  background-size: cover;
}

.swiper-pagination-bullet:nth-child(5) {
  background: url(../images/sumiaodong.jpg);
  background-size: cover;
}