* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
.navgation {
  display: flex;
  justify-content: space-around;
  width: 57vw;
  height: 6vw;
  line-height: 6vw;
  padding-bottom: 1vw;
  box-sizing: border-box;
  margin-left: 10vw;
}
.navgation .active {
  border-color: transparent;
}
.navgation div {
  border-bottom: 0.5vw solid transparent;
  font-size: 1.5vw;
}
.navgation div:hover {
  border-bottom: 0.5vw solid #00ccff;
  transition: 0.3s all;
}
